asgiref==3.2.10
bcrypt==3.2.0
cffi==1.14.3
cryptography==3.1.1
dj-database-url==0.5.0
Django==3.1.1
django-heroku==0.3.1
fabric==2.5.0
gunicorn==20.0.4
invoke==1.4.1
paramiko==2.7.2
psycopg2==2.8.6
pycparser==2.20
PyNaCl==1.4.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
whitenoise==5.2.0
